body {
    margin: 0;
    line-height: 1.6;
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    
}

.page {
    border: 2px solid #dddddd;
    max-width: 420px;
    margin: 0 auto;
    background-color: #eeeeee;
    width: 100%;
}

.navbar {
    
    background-color: #ffdab9;
    padding: 12px;

}

.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

}

/* Title*/
.navbar h1 {    
    font-size: 24px;
    margin: 0;
        
}

/* Logo */
.nav-logo img {
    width: 60px;
    height: 61px;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin: 10px 0 0 ;
    padding: 0;
    gap: 14px;
    flex-wrap: wrap;
}

footer {
    background-color: #ffdab9;
    text-align: left;
    height: 45px;

}