body {
    margin: auto;
    line-height: 1.6;
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #dddddd;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffdab9;
    max-width: 100%;

}

.navbar h1 {
    
    font-size: 24px;
}

.nav-logo img {
    width: 60px;
    height: 61px;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 14px;
}

footer {
    background-color: #ffdab9;
    text-align: left;
    height: 45px;

}